.container-recipeDet {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10% 0;
}

.recipeDet {
    background-color: #5c6664;
    color: #fff;
    border: 33%;
    border-style:groove;
    border-radius: 5%;
    border-color: gray;
    width: 80%;
    margin-bottom: 5%;
    box-shadow: 3px 2px 60px 25px #5c6664;
    display: flex;
    flex-direction:column;
    align-items:center;
}

.recipeDet p {
    margin: 2% 5%;
}

.recipeDet img {
    width: 20rem;
    height: 200;
    border-radius: 10px;
    border-style:solid;
    border-color: rgba(0, 0, 0, 0.199);
    border-width: 1px;
}