.card {
    width: 350px;
    height: 450px;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSVZ6DzLGP7sNhnLxyGOlNpAsD31o4PnUl145mm9gpLsgSwtxoqTH4gV_XpMgnbfNR0gIk&usqp=CAU");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: .8em;
    border-radius: 6px;
    margin: auto;
}

.card-details {
    margin: 0 15px;
}

.card-details h5 {
    text-align: center;
}

.card-details h3 {
    text-align: center;
    margin: 0em 1em;
}
  
.card-image {
    background-color: rgb(236, 236, 236);
    width: 90%;
    height: 50%;
    border-radius: 6px 6px 0 0;
    margin-left: 15px;
}
  
.card-image:hover {
    transform: scale(0.98);
    box-shadow: 0 12px 16px rgb(0, 0, 0, 0.2);
}
.name {
    font-weight: 600;
    color: rgb(88, 87, 87);
    padding: 7px;
}
  
.name:hover {
    cursor: pointer;
}

.container-ths {
    display: flex;
    align-items: center;
}
  
.types {
    text-transform: uppercase;
    font-size: 0.7em;
    font-weight: 600;
    color: rgb(90, 16, 19);
}

.types ul {
    list-style-type: none;
}
  
.types:hover {
    cursor: pointer;
}

.hs {
    margin: auto;
    color: rgb(90, 16, 19);
}


  
  
