body {
  margin: 0;
  font-family: Merriweather, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-image: url('https://img.freepik.com/premium-photo/bakery-bread-ingredients-wooden-background-table-top-view_182252-6021.jpg?w=1380');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

code {
  font-family: Merriweather, source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

