.landing {
    width: 100%;
    height: 100%;
    letter-spacing: 0.03em;
    line-height: 1.6;
    margin: auto;
    padding: 2.5vh;
    box-sizing: border-box;
}

.container{
    background: #d49965;;
    width: 800px;
    min-width: 300px;
    height: 450px;
    min-height: 150px;
    border-radius: 10px;
    box-shadow: 0 10px 30px #d49965;;
    margin: 174px auto;
    border: 1px solid #ffffff40;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#filt{
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    background-color: #d49965;
}

.container h1{
    font-size: 80px;
    -webkit-text-stroke: 2px rgb(88, 87, 87);
    color:white;
}

.btnHome {
    color: white;
    background: rgb(88, 87, 87);
    border: 1px solid white;
    font-size: 20px;
    padding: 20px;
    border-radius: 10%;
    cursor: pointer;
}
